<div class="row guest__box">
  <div class="six columns">
    <label>Guest name</label>
    {{input value=guest.name class="u-full-width" placeholder="Name"}}
  </div>

  <div class="six columns">
    <label>Food preference</label>
    {{#power-select
          searchEnabled=false
          selected=chosenFood
          class="u-full-width"
          placeholder="Select an option"
          options=food
          onchange=(action "onFoodChanged")
          as |name|
        }}
      {{name}}
    {{/power-select}}
  </div>
  <div class="guest__remove" {{action "remove"}}>
    {{fa-icon 'times'}}
  </div>
</div>
