<div class="section locale">
  <div class="container">
    <div class="section-description">
        {{#if (eq locale 'en')}}
          <span class="locale-selector" {{action 'setLocale' 'lt'}}>
            <img class="locale-flag" src="/img/lt.png" alt="lietuvu?"/>
            Lietuvių?
          </span>
        {{else}}
          <span class="locale-selector" {{action 'setLocale' 'en'}}>
            <img class="locale-flag" src="/img/en.png" alt="english?"/>
            English?
          </span>
        {{/if}}
    </div>
  </div>
</div>
