.section.hero  {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.section.hero:before {
  content: '';
  background: url('/img/background-hello.png') center center;
  background-size: cover;

  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  filter: blur(2px) brigthness(0.8);
  -webkit-filter: blur(2px) brightness(0.7);
  -moz-filter: blur(2px) brightness(0.7);
  -o-filter: blur(2px) brightness(0.7);
  -ms-filter: blur(2px) brightness(0.7);
}

.section.hero.thank-you:before {
  background: url('/img/bite.png') center center;
}

.section.hero > .title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;
  left: 50%;
  top: 20%;
  color: #ffffff;
  transform: translateX(-50%) translateY(-20%);
}

.section.hero.thank-you > .title {
  line-height: 50px;
}

.title > .subtitle {
  font-size: 22px;
}

.section.hero-end  {
  background: url('/img/background-bye.png') center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.section-heading {
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #D2D2D2;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-bottom: 5rem;
}

.section-heading > span {
  background:#fff;
  padding:0 30px;
}

.section-description {
  text-align: left;
}

.section-description.expand {
  max-width: 100%;
}

.section-description.centered {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
}

.u-max-full-height {
  width: 100%;
}

.form {
  text-align: left;
}

.form .rsvp {
  width: 100%;
}

.guest__note {
  margin-bottom: 1rem;
  text-align: left;
}

.guest__box {
  position: relative;
  margin-top: 2rem;
}

.contact.u-full-width {
  min-height: 150px;
}

.guest__remove {
  position: absolute;
  top: -12px;
  right: -10px;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
}

.guest__add {
  padding: 2rem;
  border: 1px dotted #e3e3e3;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: #ada8a8;
  cursor: pointer;
  user-select: none;
}

.ember-power-select-trigger {
  height: 16px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
}

.nipples-jump {
  max-height: 614px;
}

.error {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.error--content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateY(-50%) translateX(-50%);
}

.error--content .title {
  font-size: 24px;
  line-height: 24px;
}

.x-toggle {
  display: none !important;
}

.x-toggle-component {
  margin-top: 1.5rem;
  display: inline-block;
  min-width: 200px;
}

.x-toggle-component > .toggle-text {
  display: inline-block !important;
}

.x-toggle-component > .x-toggle-container {
  display: inline-block !important;
  transform: translateY(4px);
}

.x-toggle-component label {
  margin-bottom: 0;
}

.guest--checkbox {
  margin-bottom: 1rem;
}
.guest--checkbox > label {
  display: inline-block;
  margin-right: 30px;
}

/* Shared
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.button {
  border-radius: 100px;
}

/* Sections
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

/* Hero
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  /*.section {*/
    /*padding: 12rem 0 11rem;*/
  /*}*/
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }

  .section.hero {
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  /*.section {*/
    /*padding: 14rem 0 15rem;*/
  /*}*/
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  /*.section {*/
    /*padding: 20rem 0 19rem;*/
  /*}*/
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }

  .hero-end {
    background-position-y: -55px !important;
  }
}

