<div class="error">
  <div class="error--content">
    <p class="title">Woops, something went wrong.</p>

    <p class="subtitle">Please try again later or if its urgent email us at <a href="mailto:hola@ignacioandvaiva.com">hola@ignacioandvaiva.com</a>.</p>
  </div>
</div>

