<div class="error">
  <div class="error--content">
    <p class="title">{{t 'error.title'}}</p>

    <p class="subtitle">{{t 'error.body'}} <a href="mailto:hola@ignacioandvaiva.com">hola@ignacioandvaiva.com</a>.</p>

  </div>
</div>

