<div class="section hero">
</div>

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>details</span>
    </h3>

    <p class="section-description">Our big day is on the 28th December, 2016!</p>
    <p class="section-description">We hope that you will not be too stuffed after the Christmas and will have some energy to dance all night!</p>
    <p class="section-description">The schedule:</p>
    <ul>
      <li>
        <p class="section-description">2:00pm Wedding Ceremomy in Vaidilos Teatras. A.Jaksto 9, Vilnius; 2nd floor</p>
      </li>
      <li>
        <p class="section-description">3:00pm Photoshoot on the rooftop at Vaidlos teatras</p>
      </li>
      <li>
        <p class="section-description">3:30pm  Photoshoot in Ice rink</p>
      </li>
      <li>
        <p class="section-description">6:00pm Dinner and party at Vaidilos Teatras</p>
      </li>
    </ul>
    <p class="section-description">P.S. Those who do not want to participate in photoshoots till dinner are welcome to stay in Vaidlos teatras Bar area or can explore the Old Town of Vilnius</p>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>about</span>
    </h3>

    <div class="row">
      <div class="one-half column category">
        <img class="u-max-full-height" src="/img/nipples.png" alt="brrrrrr sexy nips mate" onmouseover="this.src='/img/jump.png';" onmouseout="this.src='/img/nipples.png';">
      </div>
      <div class="one-half column category">
        <p class="section-description expand">We are the lucky ones who met on online dating! The magic happened in Camden Town, London, on Sunday afternoon in 2014. We continued living  in North London for 2 years. We both work in IT, probably this is a secret how two people from different continents can live together:)</p>
        <p class="section-description expand">We knew that London is not the city where want to live forever so this summer we decided to give a shot for Amsterdam! So far we really enjoy this cute little city. We have already bought bikes and swam in a boat through the canals.</p>
        <p class="section-description expand">If you have questions for us you can contact us on FB or vaiva.rimidyte@gmail.com; rivasign@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>RSVP</span>
    </h3>

    <form class="form">
      {{one-invitee onInviteeChange='onInviteeChange' invitee=invitee}}

      <div id="guest-list">
        {{#each guests key="@index" as |guest|}}
          {{add-guest guest=guest onChange='onChange' removeGuest='removeGuest'}}
        {{/each}}

      </div>

      <div class="twelve columns guest__add" {{action 'addGuest'}}>
        Add a guest
      </div>

      <label for="exampleMessage">Anything you wanna tell us ?</label>
      <textarea class="contact u-full-width" placeholder="Things you cant eat, things you wanna eat, drinks, music or just to tell us we're awesome. We know we are, but its nice to hear it from others." id="exampleMessage"></textarea>

      <input class="button-primary rsvp" type="submit" value="RSVP" {{action 'sendRSVP'}}>
    </form>

  </div>
</div>

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>We're off to get ready</span>
    </h3>

    <p class="section-description centered">See you soon!</p>
  </div>
</div>

<div class="section hero-end">
</div>
